<a href="https://colab.research.google.com/github/JaeanHan/kokoa-clone-2022/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 반복문
# 수행문
#if -else

number = [1,2,3,4,5,6,7,8,9,10]

for num in number:
  if num%2 ==0:
    print("짝수")
  else:
    print("홀수")

In [ ]:
# 해당 리스트에 있느 숫자들을 입력 받아서 합과 평균 구하기
a, b, c = map(int, input().split(','))
# input() => '1,2,3' string
# .split(',') ,을 기준으로 string split
# map(int, string) => [1,2,3]

print(a)
print(b)
print(c)

print("합계 : ", a+b+c )
print("평균 : ", (a+b+c)/3 )

5,4,3
5
4
3
합계 :  12
평균 :  4.0

In [ ]:
a = list(map(int, input().split()))
ans = 0

# 숫자를 입력받거나 주어진 변수를 이용해서 가장 큰 숫자를 출력하시오
# 반복문이나 조건문을 사용해서 출력하시면 됩니다.

for i in a:
  if ans < i:
    ans = i

print(i)
print(max(a))

4 5 10
10
10

In [ ]:
# 국어, 영어, 수학 점수의 평균이 
# 90 이상이면 A
# 80 이상이면 B
# 70 이상이면 C
# 나머지는 D 를 출력하시오

kor = 100
eng = 67
math = 89
mean = (kor+eng+math)/3

# 최종 성적출력

if mean > 89 :
  print('A')
elif mean > 79 :
  print('B')
elif mean > 69:
  print('C')
else:
  print('D')

B

In [ ]:
age_list= ['34살','35살','45살','56살']
group_age = []

for age in age_list:
  age = age.split('살')[0]
  if 30 <= int(age) <= 39:
    age = '30대'
    group_age.append(age)
  elif 40 <= int(age) <= 49:
    age = '40대'
    group_age.append(age)
  else:
    age = '50대'
    group_age.append(age)

print(group_age)

['30대', '30대', '40대', '50대']

In [ ]:
# 반복문 활용
# 목적은 0부터 10까지 2씩 간격으로 숫자를 생성된 리스트 만들기

result=[]

for num in range(0, 10, 2): #range(시작 인덱스, 종료 인덱스, 증감값)
  result.append(num)
print(result)

[0, 2, 4, 6, 8]

In [ ]:
# 감소하는 리스트
down_list=[]

for num in range(11,0,-2):
  down_list.append(num)
print(down_list)

[11, 9, 7, 5, 3, 1]

In [ ]:
# 리스트끼리 합칠 때

temp_list =[i for i in range(1,7)]
temp_list2 = [i for i in range(11, 17)]

# ver1.노가다
for i in temp_list2:
  temp_list.append(i)
print(temp_list)

[1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16]

In [ ]:
temp_list =[i for i in range(1,7)]
temp_list2 = [i for i in range(11, 17)]

# ver2. 함수사용

temp_list.extend(temp_list2)
print(temp_list)

[1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16]

In [ ]:
# 임의의 숫자 2개를 무작위로 받아서 그사이의 숫자들을 출력하는 법
# 예) 5 1 => 1,2,3,4,5
# 예) 1 5 => 1,2,3,4,5

a=5
b=1

if a>b:
  for i in range(b,a+1):
    print(i, end=" ")

else:
  for i in range(a, b+1):
    print(i, end=" ")

1 2 3 4 5

In [ ]:
# 출력포멧 정하기
a=3
b=4
print(a+b)

# print("%d + %d = %d", a, b, a+b)

# format함수를 이용한 출력
print("{}+{}={}".format(a,b,a+b))

# 3.6이후
print(f"{a}+{b} = {a+b}")

# 결과를 볼 때
print("a :", a)
# +를 이용해서
print("a : "+ str(a))

7
3+4=7
3+4 = 7
a : 3
a : 3

In [ ]:
# 숫자 하나를 입력 받아서 끝자리가 3과 7인 숫자의 개수를 구하시오
# 예) 13 =>1 2 3 4 5 6 7 8 9 10 11 12 13
# 출력값은 3

a = int(input())
ans= []
# cnt=0

for i in list(map(str,range(a+1))):
  if i[-1] == '3' or i[-1] == '7':
    ans.append(i)
    # cnt+=1

print(len(ans))

13
3

In [ ]:
# 리스트의 활용

a=[1,2,3,4,5,6,7,8]
print(a[0])   # 0번째 인덱스 출력
print(a[-8])  # -8번째 인덱스 출력
print(a[0:4]) # 문자열 슬라이싱 0~4
print(a[:-4])

1
1
[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# 딕셔너리

dict = {}
# dict = {'key':'value'}
# 데이터프레임 개념으로 가면 key => 컬럼(column) value => 값

tmp_dict = {"id": ['a','b','c'], 
            "kor": [50,60,70],
            "eng": [40,50,60]
            }
tmp_dict

{'eng': [40, 50, 60], 'id': ['a', 'b', 'c'], 'kor': [50, 60, 70]}

In [ ]:
# 딕셔너리 key값 출력
for key in tmp_dict:
  print(key)

id
kor
eng

In [ ]:
# 딕셔너리의 values 값 출력
for value in tmp_dict.values():
  print(value)

['a', 'b', 'c']
[50, 60, 70]
[40, 50, 60]

In [ ]:
# 딕셔너리의 key와 value 값 출력:
for key, value in tmp_dict.items():
  print("key : ", key)
  print("value : ", value)

key :  id
value :  ['a', 'b', 'c']
key :  kor
value :  [50, 60, 70]
key :  eng
value :  [40, 50, 60]

In [ ]:
a = [[1,2],
     [3,4],
     [5,6]
     ]

# import numpy as np
# a_np = np.array(a)
# a

for i in a:
  for j in i:
    print(j)

# print(a[2][1])

1
2
3
4
5
6
6

In [ ]:
# *
# **
# ***
# 반복문을 써서 위 그림을 출력하시오

for i in range(3):
  print("*"*(i+1))

print()

for i in range(3):
  print("*"*(3-i))

print()

*
**
***

***
**
*

In [ ]:
for i in range(1, 6):
  if i<= 3:
    for j in range(1, 2*i):
      print("*", end ="")

  else:
    for j in range(1, 12-(i*2)):
      print("*", end="")
  print()

*
***
*****
***
*

In [ ]:
# 텍스트 파일 읽기
# ver1.
f = open ('./word.txt', 'r')

while True:
  line = f.readline()

  if not line:
    break
  print(line, end="")
f.close()

aaa
bbb
ccc
ddd
eee

In [ ]:
# ver2.
# with 함수를 이용한 읽기 방법
with open('./word.txt', 'r') as f:
  while True:
    line = f.readline()
    if not line:
      break
    print(line, end="")

aaa
bbb
ccc
ddd
eee

In [ ]:
# 읽어서 이스트로 받아오기
with open('./word.txt', 'r') as f:
  tmp_list = f.readlines()
  emp_list = [val.strip() for val in tmp_list]
print(tmp_list)

['aaa\n', 'bbb\n', 'ccc\n', 'ddd\n', 'eee\n']

In [ ]:
# 저장하기
# mode : 'a', 'r', 'w'
# a : 붙여쓰기
# r : 읽기
# w : 쓰기
with open('./tmp_test.txt', mode='w') as f:
  f.write('이동진 빅데이터 강사')

In [ ]:
with open('./tmp_test.txt', mode='w') as f:
  f.write('\n이동진 빅데이터 강사')

In [ ]:
with open('./tmp_text.txt', mode='a') as f:

  for idx, text in enumerate(tmp_list):
    if idx == len(tmp_list)-1:
      f.write(text)
    else:
      f.write(text+'\n')

In [ ]:
li = ['aaa','bbb','ccc']
print(len(li))
for idx, text in enumerate(li):
  print(f"idx : {idx}")
  print(f"text : {text}")

3
idx : 0
text : aaa
idx : 1
text : bbb
idx : 2
text : ccc

In [ ]:
# 사용자함수 만들기
#
# def 함수이름(변수):
#   수행문
with open('./word.txt', mode='a') as f:
  f.write('aaa')

In [ ]:
def custom_sum(a,b):
  sum = a+b
  return sum

result = custom_sum(10, 20)

print(result)

30

In [ ]:
def custom_save_text(li, file_name) :
  with open(f'./{file_name}.text', mode='a') as f:
    for idx, text in enumerate(li):
      if idx == len(tmp_list)-1:
        f.write(text)
      else:
        f.write(text+'\n')

In [ ]:
custom_save_text(li=tmp_list, file_name='save_test')

In [ ]:
# word.txt 파일을 읽어서 안에 있는 값을 key로 값의 수량으 value로 하는 딕셔너리 구현

result = {}

with open('./word.txt', 'r') as f:
  while True:
    line = f.readline().strip()
    if not line:
      break
    
    a = line.split(' ')

    for tmp in a:
      result[tmp] += 1
    print(result)

{'aaa': 1}
{'aaa': 1, 'bbb': 1}
{'aaa': 1, 'bbb': 1, 'ccc': 1}
{'aaa': 1, 'bbb': 1, 'ccc': 1, 'ddd': 1}
{'aaa': 1, 'bbb': 1, 'ccc': 1, 'ddd': 1, 'eee': 1}
{'aaa': 2, 'bbb': 1, 'ccc': 1, 'ddd': 1, 'eee': 1}

# 새 섹션

In [ ]:
data = {"ret":{"id":"a386", "name":"123", "age":34}, "ret1":{"id":"a383", "name":"123", "age":36}}
print(data)

{'ret': {'id': 'a386', 'name': '123', 'age': 34}, 'ret1': {'id': 'a383', 'name': '123', 'age': 36}}

In [ ]:
# data의 각 정보를 추출해서 LIST를 만들고 DATAFRAME까지 구성하기

id = []
name = []
age = []

for key in data:
  id.append(data[key]['id'])
  name.append(data[key]['name'])
  age.append(data[key]['age'])

print(id)
print(name)
print(age)

import pandas as pd
df = pd.DataFrame(zip(id, name, age))
df

['a386', 'a383']
['123', '123']
[34, 36]

      0    1   2
0  a386  123  34
1  a383  123  36

In [ ]:
data = {"ret":"y", "data":[{"id":"id1", "name":"가나다1", "age":31},
                           {"id":"id2", "name":"가나다2", "age":32},
                           {"id":"id3", "name":"가나다3", "age":33},
                           {"id":"id4", "name":"가나다4", "age":34},
                           {"id":"id5", "name":"가나다5", "age":35}
                           ], 'ret':'y'
                           }

In [ ]:
data["data"]

[{'age': 31, 'id': 'id1', 'name': '가나다1'},
 {'age': 32, 'id': 'id2', 'name': '가나다2'},
 {'age': 33, 'id': 'id3', 'name': '가나다3'},
 {'age': 34, 'id': 'id4', 'name': '가나다4'},
 {'age': 35, 'id': 'id5', 'name': '가나다5'}]

In [ ]:
data["data"][0]
data["data"][0]["age"]

31

In [ ]:
ids =[]
names =[]
ages = []
for d in data["data"]:
  ids.append(d['id'])
  names.append(d['name'])
  ages.append(d['age'])
df = pd.DataFrame(zip(ids, names, ages))
df

     0     1   2
0  id1  가나다1  31
1  id2  가나다2  32
2  id3  가나다3  33
3  id4  가나다4  34
4  id5  가나다5  35

In [ ]:
# data파일에서 해당하는 정보들을 추출하고 total값을 만들어서 dataframe까지 구성하기
data = {"data": [{"age":31, "id":"id1", "name":"가나다", "score":{'eng':90, 'kor':69, 'math':50}},
                 {"age":32, "id":"id2", "name":"가나다2", "score":{'eng':68, 'kor':80, 'math':90}},
                 {"age":33, "id":"id3", "name":"가나다3", "score":{'eng':76, 'kor':60, 'math':70}},
                 {"age":34, "id":"id4", "name":"가나다4", "score":{'eng':79, 'kor':50, 'math':80}},
                 {"age":35, "id":"id5", "name":"가나다5", "score":{'eng':78, 'kor':90, 'math':80}}
                  ], 'ret':'y'}
data

{'data': [{'age': 31,
   'id': 'id1',
   'name': '가나다',
   'score': {'eng': 90, 'kor': 69, 'math': 50}},
  {'age': 32,
   'id': 'id2',
   'name': '가나다2',
   'score': {'eng': 68, 'kor': 80, 'math': 90}},
  {'age': 33,
   'id': 'id3',
   'name': '가나다3',
   'score': {'eng': 76, 'kor': 60, 'math': 70}},
  {'age': 34,
   'id': 'id4',
   'name': '가나다4',
   'score': {'eng': 79, 'kor': 50, 'math': 80}},
  {'age': 35,
   'id': 'id5',
   'name': '가나다5',
   'score': {'eng': 78, 'kor': 90, 'math': 80}}],
 'ret': 'y'}

In [ ]:
id = []
name = []
age = []
math = []
eng = []
kor = []
total = []

for d in data["data"]:
  id.append(d['id'])
  name.append(d['name'])
  age.append(d['age'])
  math.append(d['score']['math'])
  eng.append(d['score']['eng'])
  kor.append(d['score']['kor'])
  total.append(d['score']['math']+d['score']['eng']+d['score']['kor'])

  for index, value in enumerate(total):
    data['data'][index]['score']['total']=value

df = pd.DataFrame(zip(id, name, age, math, eng, kor, total))
df

     0     1   2   3   4   5    6
0  id1   가나다  31  50  90  69  209
1  id2  가나다2  32  90  68  80  238
2  id3  가나다3  33  70  76  60  206
3  id4  가나다4  34  80  79  50  209
4  id5  가나다5  35  80  78  90  248

In [ ]:
with open('movie.json', mode='r') as f:
  while True:
    line = f.readline()
    if not line:
      break
    print(line, end="")
    print()

{"boxOfficeResult": {"boxofficeType": "\uc77c\ubcc4 \ubc15\uc2a4\uc624\ud53c\uc2a4", "showRange": "20120101~20120101", "dailyBoxOfficeList": [{"rnum": "1", "rank": "1", "rankInten": "0", "rankOldAndNew": "OLD", "movieCd": "20112207", "movieNm": "\ubbf8\uc158\uc784\ud30c\uc11c\ube14:\uace0\uc2a4\ud2b8\ud504\ub85c\ud1a0\ucf5c", "openDt": "2011-12-15", "salesAmt": "2776060500", "salesShare": "36.3", "salesInten": "-415699000", "salesChange": "-13", "salesAcc": "40541108500", "audiCnt": "353274", "audiInten": "-60106", "audiChange": "-14.5", "audiAcc": "5328435", "scrnCnt": "697", "showCnt": "3223"}, {"rnum": "2", "rank": "2", "rankInten": "1", "rankOldAndNew": "OLD", "movieCd": "20110295", "movieNm": "\ub9c8\uc774 \uc6e8\uc774", "openDt": "2011-12-21", "salesAmt": "1189058500", "salesShare": "15.6", "salesInten": "-105894500", "salesChange": "-8.2", "salesAcc": "13002897500", "audiCnt": "153501", "audiInten": "-16465", "audiChange": "-9.7", "audiAcc": "1739543", "scrnCnt": "588", "showCnt": "2321"}, {"rnum": "3", "rank": "3", "rankInten": "-1", "rankOldAndNew": "OLD", "movieCd": "20112621", "movieNm": "\uc15c\ub85d\ud648\uc988 : \uadf8\ub9bc\uc790 \uac8c\uc784", "openDt": "2011-12-21", "salesAmt": "1176022500", "salesShare": "15.4", "salesInten": "-210328500", "salesChange": "-15.2", "salesAcc": "10678327500", "audiCnt": "153004", "audiInten": "-31283", "audiChange": "-17", "audiAcc": "1442861", "scrnCnt": "360", "showCnt": "1832"}, {"rnum": "4", "rank": "4", "rankInten": "0", "rankOldAndNew": "OLD", "movieCd": "20113260", "movieNm": "\ud37c\ud399\ud2b8 \uac8c\uc784", "openDt": "2011-12-21", "salesAmt": "644532000", "salesShare": "8.4", "salesInten": "-75116500", "salesChange": "-10.4", "salesAcc": "6640940000", "audiCnt": "83644", "audiInten": "-12225", "audiChange": "-12.8", "audiAcc": "895416", "scrnCnt": "396", "showCnt": "1364"}, {"rnum": "5", "rank": "5", "rankInten": "0", "rankOldAndNew": "OLD", "movieCd": "20113271", "movieNm": "\ud504\ub80c\uc988: \ubaac\uc2a4\ud130\uc12c\uc758\ube44\ubc00 ", "openDt": "2011-12-29", "salesAmt": "436753500", "salesShare": "5.7", "salesInten": "-89051000", "salesChange": "-16.9", "salesAcc": "1523037000", "audiCnt": "55092", "audiInten": "-15568", "audiChange": "-22", "audiAcc": "202909", "scrnCnt": "290", "showCnt": "838"}, {"rnum": "6", "rank": "6", "rankInten": "1", "rankOldAndNew": "OLD", "movieCd": "19940256", "movieNm": "\ub77c\uc774\uc628 \ud0b9", "openDt": "1994-07-02", "salesAmt": "507115500", "salesShare": "6.6", "salesInten": "-114593500", "salesChange": "-18.4", "salesAcc": "1841625000", "audiCnt": "45750", "audiInten": "-11699", "audiChange": "-20.4", "audiAcc": "171285", "scrnCnt": "244", "showCnt": "895"}, {"rnum": "7", "rank": "7", "rankInten": "-1", "rankOldAndNew": "OLD", "movieCd": "20113381", "movieNm": "\uc624\uc2f9\ud55c \uc5f0\uc560", "openDt": "2011-12-01", "salesAmt": "344871000", "salesShare": "4.5", "salesInten": "-107005500", "salesChange": "-23.7", "salesAcc": "20634684500", "audiCnt": "45062", "audiInten": "-15926", "audiChange": "-26.1", "audiAcc": "2823060", "scrnCnt": "243", "showCnt": "839"}, {"rnum": "8", "rank": "8", "rankInten": "0", "rankOldAndNew": "OLD", "movieCd": "20112709", "movieNm": "\uadf9\uc7a5\ud310 \ud3ec\ucf13\ubaac\uc2a4\ud130 \ubca0\uc2a4\ud2b8 \uc704\uc2dc\u300c\ube44\ud06c\ud2f0\ub2c8\uc640 \ubc31\uc758 \uc601\uc6c5 \ub808\uc2dc\ub77c\ubb34\u300d", "openDt": "2011-12-22", "salesAmt": "167809500", "salesShare": "2.2", "salesInten": "-45900500", "salesChange": "-21.5", "salesAcc": "1897120000", "audiCnt": "24202", "audiInten": "-7756", "audiChange": "-24.3", "audiAcc": "285959", "scrnCnt": "186", "showCnt": "348"}, {"rnum": "9", "rank": "9", "rankInten": "0", "rankOldAndNew": "OLD", "movieCd": "20113311", "movieNm": "\uc568\ube48\uacfc \uc288\ud37c\ubc34\ub4dc3", "openDt": "2011-12-15", "salesAmt": "137030000", "salesShare": "1.8", "salesInten": "-35408000", "salesChange": "-20.5", "salesAcc": "3416675000", "audiCnt": "19729", "audiInten": "-6461", "audiChange": "-24.7", "audiAcc": "516289", "scrnCnt": "169", "showCnt": "359"}, {"rnum": "10", "rank": "10", "rankInten": "0", "rankOldAndNew": "OLD", "movieCd": "20112708", "movieNm": "\uadf9\uc7a5\ud310 \ud3ec\ucf13\ubaac\uc2a4\ud130 \ubca0\uc2a4\ud2b8 \uc704\uc2dc \u300c\ube44\ud06c\ud2f0\ub2c8\uc640 \ud751\uc758 \uc601\uc6c5 \uc81c\ud06c\ub85c\ubb34\u300d", "openDt": "2011-12-22", "salesAmt": "125535500", "salesShare": "1.6", "salesInten": "-40756000", "salesChange": "-24.5", "salesAcc": "1595695000", "audiCnt": "17817", "audiInten": "-6554", "audiChange": "-26.9", "audiAcc": "235070", "scrnCnt": "175", "showCnt": "291"}]}}

In [ ]:
# json 파일 저장 및 불러오기
import json
# 저장
with open('score_data_json', mode='w') as f:
  json_save = json.dump(data, f)

In [ ]:
# 불러오기
with open('./movie.json','r') as f:
  movie_data = json.load(f)

In [ ]:
movie_data

{'boxOfficeResult': {'boxofficeType': '일별 박스오피스',
  'dailyBoxOfficeList': [{'audiAcc': '5328435',
    'audiChange': '-14.5',
    'audiCnt': '353274',
    'audiInten': '-60106',
    'movieCd': '20112207',
    'movieNm': '미션임파서블:고스트프로토콜',
    'openDt': '2011-12-15',
    'rank': '1',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'rnum': '1',
    'salesAcc': '40541108500',
    'salesAmt': '2776060500',
    'salesChange': '-13',
    'salesInten': '-415699000',
    'salesShare': '36.3',
    'scrnCnt': '697',
    'showCnt': '3223'},
   {'audiAcc': '1739543',
    'audiChange': '-9.7',
    'audiCnt': '153501',
    'audiInten': '-16465',
    'movieCd': '20110295',
    'movieNm': '마이 웨이',
    'openDt': '2011-12-21',
    'rank': '2',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'rnum': '2',
    'salesAcc': '13002897500',
    'salesAmt': '1189058500',
    'salesChange': '-8.2',
    'salesInten': '-105894500',
    'salesShare': '15.6',
    'scrnCnt': '588',
    'showCnt': '2321'},
   {'audiAcc': '1442861',
    'audiChange': '-17',
    'audiCnt': '153004',
    'audiInten': '-31283',
    'movieCd': '20112621',
    'movieNm': '셜록홈즈 : 그림자 게임',
    'openDt': '2011-12-21',
    'rank': '3',
    'rankInten': '-1',
    'rankOldAndNew': 'OLD',
    'rnum': '3',
    'salesAcc': '10678327500',
    'salesAmt': '1176022500',
    'salesChange': '-15.2',
    'salesInten': '-210328500',
    'salesShare': '15.4',
    'scrnCnt': '360',
    'showCnt': '1832'},
   {'audiAcc': '895416',
    'audiChange': '-12.8',
    'audiCnt': '83644',
    'audiInten': '-12225',
    'movieCd': '20113260',
    'movieNm': '퍼펙트 게임',
    'openDt': '2011-12-21',
    'rank': '4',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'rnum': '4',
    'salesAcc': '6640940000',
    'salesAmt': '644532000',
    'salesChange': '-10.4',
    'salesInten': '-75116500',
    'salesShare': '8.4',
    'scrnCnt': '396',
    'showCnt': '1364'},
   {'audiAcc': '202909',
    'audiChange': '-22',
    'audiCnt': '55092',
    'audiInten': '-15568',
    'movieCd': '20113271',
    'movieNm': '프렌즈: 몬스터섬의비밀 ',
    'openDt': '2011-12-29',
    'rank': '5',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'rnum': '5',
    'salesAcc': '1523037000',
    'salesAmt': '436753500',
    'salesChange': '-16.9',
    'salesInten': '-89051000',
    'salesShare': '5.7',
    'scrnCnt': '290',
    'showCnt': '838'},
   {'audiAcc': '171285',
    'audiChange': '-20.4',
    'audiCnt': '45750',
    'audiInten': '-11699',
    'movieCd': '19940256',
    'movieNm': '라이온 킹',
    'openDt': '1994-07-02',
    'rank': '6',
    'rankInten': '1',
    'rankOldAndNew': 'OLD',
    'rnum': '6',
    'salesAcc': '1841625000',
    'salesAmt': '507115500',
    'salesChange': '-18.4',
    'salesInten': '-114593500',
    'salesShare': '6.6',
    'scrnCnt': '244',
    'showCnt': '895'},
   {'audiAcc': '2823060',
    'audiChange': '-26.1',
    'audiCnt': '45062',
    'audiInten': '-15926',
    'movieCd': '20113381',
    'movieNm': '오싹한 연애',
    'openDt': '2011-12-01',
    'rank': '7',
    'rankInten': '-1',
    'rankOldAndNew': 'OLD',
    'rnum': '7',
    'salesAcc': '20634684500',
    'salesAmt': '344871000',
    'salesChange': '-23.7',
    'salesInten': '-107005500',
    'salesShare': '4.5',
    'scrnCnt': '243',
    'showCnt': '839'},
   {'audiAcc': '285959',
    'audiChange': '-24.3',
    'audiCnt': '24202',
    'audiInten': '-7756',
    'movieCd': '20112709',
    'movieNm': '극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」',
    'openDt': '2011-12-22',
    'rank': '8',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'rnum': '8',
    'salesAcc': '1897120000',
    'salesAmt': '167809500',
    'salesChange': '-21.5',
    'salesInten': '-45900500',
    'salesShare': '2.2',
    'scrnCnt': '186',
    'showCnt': '348'},
   {'audiAcc': '516289',
    'audiChange': '-24.7',
    'audiCnt': '19729',
    'audiInten': '-6461',
    'movieCd': '20113311',
    'movieNm': '앨빈과 슈퍼밴드3',
    'openDt': '2011-12-15',
    'rank': '9',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'rnum': '9',
    'salesAcc': '3416675000',
    'salesAmt': '137030000',
    'salesChange': '-20.5',
    'salesInten': '-35408000',
    'salesShare': '1.8',
    'scrnCnt': '169',
    'showCnt': '359'},
   {'audiAcc': '235070',
    'audiChange': '-26.9',
    'audiCnt': '17817',
    'audiInten': '-6554',
    'movieCd': '20112708',
    'movieNm': '극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」',
    'openDt': '2011-12-22',
    'rank': '10',
    'rankInten': '0',
    'rankOldAndNew': 'OLD',
    'rnum': '10',
    'salesAcc': '1595695000',
    'salesAmt': '125535500',
    'salesChange': '-24.5',
    'salesInten': '-40756000',
    'salesShare': '1.6',
    'scrnCnt': '175',
    'showCnt': '291'}],
  'showRange': '20120101~20120101'}}

In [ ]:
# movieNm(영화제목)
# openDt(개봉일)
# rank(순위)

# for i in movie_data:
#   print(i)

movieNm = []
openDt = []
rank = []

for i in movie_data['boxOfficeResult']['dailyBoxOfficeList']:
  movieNm.append(i['movieNm'])
  openDt.append(i['openDt'])
  rank.append(i['rank'])

import pandas as pd
df = pd.DataFrame(zip(movieNm, openDt, rank))
df

                                     0           1   2
0                       미션임파서블:고스트프로토콜  2011-12-15   1
1                                마이 웨이  2011-12-21   2
2                        셜록홈즈 : 그림자 게임  2011-12-21   3
3                               퍼펙트 게임  2011-12-21   4
4                        프렌즈: 몬스터섬의비밀   2011-12-29   5
5                                라이온 킹  1994-07-02   6
6                               오싹한 연애  2011-12-01   7
7   극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」  2011-12-22   8
8                            앨빈과 슈퍼밴드3  2011-12-15   9
9  극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」  2011-12-22  10